h1{
    font-size: large;
    font-weight: bold;
    color:blueviolet;
    text-align: center;

}
p{
    margin-block: 0.5em;
    text-align: center;

}
img{
    border: 5px solid rgb(93, 85, 181);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 15px;
}